.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1170px !important; // override default container width
  width: 100%;

  &.relative {
    position: relative;
  }

  &.full-height {
    height: 100%;
  }
}
