body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1b1f28;
  font-family: Montserrat, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.popup-open {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}
