@use "../variables";
@use "../mixins";

.section {
  $this: &;
  $horizontal-padding: 20px;

  padding: variables.$section-padding 0;
  background-color: #262c3a;

  &--overlay {
    position: relative;
    z-index: 1;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: variables.$font-size-title-l;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    word-break: break-all;

    em {
      color: #e3f666;
      font-style: inherit;
    }

    &_s {
      font-size: 32px;
    }
  }

  &__subtitle {
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    max-width: 735px;
    color: #9197af;
    text-align: center;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 20.48px */

    &_single {
      margin-left: 0;
      margin-right: 0;
      max-width: unset;
      margin-bottom: 33px;
    }
  }

  &__content {
    margin-top: 45px;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    mix-blend-mode: overlay;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  &_suits {
    position: relative;
    overflow: hidden;
    background-color: #1b1f28;

    &::before {
      content: "";
      opacity: 0.3;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 10000%;
      height: 1000%;
      transform: translateX(-50%) rotate(-25deg);
      background-image: url("#{variables.$images-url}/section/suits_3.svg");
      background-size: 520px;
      background-repeat: repeat;
      background-position: 0 0;
    }
  }

  &_bg {
    position: relative;

    &::before {
      content: "";
      opacity: 0.24;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-color: lightgray;
      background-position: center;
      mix-blend-mode: overlay;
      filter: blur(8px);
    }

    &_n {
      background-color: transparent;
    }

    &_1 {
      &::before {
        opacity: 0.32;
        background-image: url("#{variables.$images-url}/section/bg1.png");
      }
    }

    &_2 {
      &::before {
        background-image: url("#{variables.$images-url}/section/bg2.webp");
      }
    }

    // &_3 {
    //   &::before {
    //     background-image: url("#{$images-url}/section/bg3.jpeg");
    //   }
    // }

    // &_4 {
    //   &::before {
    //     background-image: url("#{$images-url}/section/bg4.jpeg");
    //   }
    // }

    &_5 {
      &::before {
        background-image: url("#{variables.$images-url}/section/bg5.png");
      }
    }

    &_6 {
      &::before {
        background-image: url("#{variables.$images-url}/section/bg6.jpeg");
      }
    }

    &_7 {
      background-color: #1b1f28;

      &::before {
        opacity: 1;
        background-image: url("#{variables.$images-url}/section/bg7.png");
        background-position: center;
        filter: none;
      }
    }
  }

  &_img {
    #{$this} {
      &__inner {
        display: flex;
        align-items: center;
        gap: 72px;
      }

      &__header {
        position: relative;
        z-index: 1;
      }

      &__title {
        text-align: left;
      }

      &__subtitle {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
        text-align: left;

        &_single {
          margin-bottom: 40px;
        }
      }

      &__image {
        img {
          &:nth-child(1) {
            position: relative;
            z-index: 1;
            width: 522px;
          }

          &:nth-child(2) {
            opacity: 0.16;
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            transform: translateX(-85%) translateY(-50%);
            height: calc(300%);
          }
        }
      }
    }

    &_2,
    &_3 {
      #{$this} {
        &__inner {
          flex-direction: row-reverse;
        }

        &__title {
          font-size: 32px;
        }

        &__image {
          img {
            &:nth-child(1) {
              width: 100%;
            }

            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }

    &_2 {
      #{$this} {
        &__image {
          &:nth-child(1) {
            max-width: 440px;
          }
        }
      }
    }

    &_3 {
      #{$this} {
        &__image {
          &:nth-child(1) {
            max-width: 514px;
          }
        }
      }
    }
  }

  &_img-v2 {
    #{$this} {
      &__inner {
        gap: 112px;
        padding: 33px 40px 33px 100px;
        border-radius: 16px;
        background: linear-gradient(180deg, #0bb9f8 50%, #0a8ef2 100%);

        &::before {
          @include mixins.lights-bg();
          @include mixins.horizontal-flip();
        }
      }

      &__header {

      }

      &__title {
        font-size: 36px;
      }

      &__subtitle {
        margin-top: 16px;
        color: #fff;

        &_single {
          margin-bottom: 16px;
        }
      }

      &__image {
        img {
          &:nth-child(1) {
            width: 350px;
          }
        }
      }
    }
  }

  &_p_0 {
    padding: 0;
  }

  @include mixins.bp(variables.$section-breakpoint) {
    padding-top: variables.$section-padding-mobile;
    padding-bottom: variables.$section-padding-mobile;

    &_img {
      #{$this} {
        &__inner {
          flex-direction: column-reverse;
        }

        &__image {
          img {
            &:nth-child(1) {
              width: 100%;
            }

            &:nth-child(2) {
              position: absolute;
              z-index: 0;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(calc(-50% + 150px));
              height: 150%;
            }
          }
        }
      }

      &_2 {
        #{$this} {
          &__title {
            font-size: 24px;
          }

          &__image {
            img {
              &:nth-child(1) {
                max-width: 580px;
              }
            }
          }
        }
      }
    }

    &_img-v2 {
      #{$this} {
        &__inner {
          flex-direction: column;
          gap: 26px;
          padding: 22px 16px 50px;
        }
      }
    }

    &__title {
      font-size: variables.$font-size-title-m;

      &_s {
        font-size: 24px;
      }
    }

    &__content {
      margin-top: 35px;
    }

    &_p_0 {
      padding: 0;
    }
  }

  @include mixins.bp(variables.$small-mobile-breakpoint) {
    &__title {
      font-size: variables.$font-size-title-s;
    }
  }
}
