@import "../variables";
@import "../mixins";

.advantages {
  display: flex;
  align-items: center;
  gap: 35px;

  &__item {
    counter-increment: item;
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 50px 180px 35px 24px;
    max-width: 400px;
    min-height: 330px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #0bb9f8 50.52%, #0a8ef2 100%);

    &::before {
      @include lights-bg();
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 20.48px */

    &::before {
      content: "0" counter(item);
      display: flex;
      color: #0a8ef2;
      font-family: Montserrat, sans-serif;
      font-size: 56px;
      font-style: normal;
      font-weight: 800;
      line-height: 70%;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;

    img {

    }
  }

  @include bp(1180px) {
    flex-direction: column;
  }

  @include bp(360px) {
    &__item {
      padding: 50px 24px;
      min-height: auto;
    }

    &__image {
      display: none;
    }
  }
}
