@use "../mixins";

.author {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 80px 60px;
  border-radius: 16px;
  background-color: #262c3a;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }

    em {
      color: #e3f666;
      font-style: inherit;
    }
  }

  &__title {
    margin-top: 16px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__about {
    margin-top: 24px;
    color: #9197af;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 20.48px */
  }

  &__preview {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
    color: #fff;
    font-family: Hind, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    img {
      object-fit: cover;
      width: 50px;
      height: 50px;
      border-radius: 100px;
    }
  }

  &__image {
    overflow: hidden;
    flex-shrink: 0;
    max-width: 480px;
    max-height: 480px;
    width: 100%;
    height: 100%;
    border-radius: 16px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  @include mixins.bp(l) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 16px;

    &__name {
      font-size: 36px;
    }

    &__title {
      margin-top: 10px;
    }
  }

  @include bp($small-mobile-breakpoint) {
    &__name {
      font-size: $small-mobile-title-font-size;
    }
  }
}
