@use "../variables";
@use "../mixins";

.banner-author {
  &_bonus {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__breadcrumbs {
    padding: 0;
    margin-bottom: 32px;
  }

  &__header {
    margin-top: 32px;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 6px;
  }

  &__title {
    margin: 0 0 32px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    em {
      color: #e3f666;
      font-style: inherit;
    }
  }

  &__bonus {
    flex-shrink: 0;
  }

  @include mixins.bp(l) {
    &_bonus {
      flex-wrap: wrap;
    }

    &__tags {
      margin-bottom: 12px;
    }
  }

  @include mixins.bp(700px) {
    &__breadcrumbs {
      display: none;
    }

    &__header {
      margin-bottom: 24px;
    }

    &__title {
      font-size: 36px;
    }

    &__footer {
      flex-direction: column;
      align-items: flex-start;
    }

    &__bonus {
      flex-shrink: 1;
    }
  }

  @include mixins.bp(variables.$small-mobile-breakpoint) {
    &__title {
      font-size: variables.$font-size-title-s;
    }
  }
}
