@import "../variables";
@import "../mixins";

.banner-author {
  &_bonus {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__breadcrumbs {
    padding: 0;
    margin-bottom: 32px;
  }

  &__header {
    margin-top: 32px;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 6px;
  }

  &__title {
    margin: 0;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    em {
      color: #e3f666;
      font-style: inherit;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: 32px;
    color: #fff;
    font-family: Hind, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
  }

  &__avatar {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #fff;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    display: block;
    color: #fff;
    font: inherit;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 16px;
    font: inherit;

    &::before {
      content: "";
      display: inline-flex;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: #fff;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 75px;
  }

  &__icon {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      object-fit: contain;
      width: 24px;
      height: 24px;
    }

    span {
      font: inherit;
    }
  }

  &__bonus {
    flex-shrink: 0;
  }

  @include bp(l) {
    &_bonus {
      flex-wrap: wrap;
    }

    &__tags {
      margin-bottom: 12px;
    }
  }

  @include bp(700px) {
    &__breadcrumbs {
      display: none;
    }

    &__header {
      margin-bottom: 24px;
    }

    &__title {
      font-size: 36px;
    }

    &__footer {
      flex-direction: column;
      align-items: flex-start;
    }

    &__icons {
      margin-top: 24px;
      margin-left: 0;
    }

    &__bonus {
      flex-shrink: 1;
    }
  }
}
