@use "../variables";
@use "../mixins";

.banner-casino {
  display: flex;
  gap: 25px;
  margin-bottom: 90px;
  padding: 25px;
  border-radius: 16px;
  background-color: #fff;

  &__image {
    overflow: hidden;
    flex-shrink: 0;
    width: 440px;
    height: 440px;
    border-radius: 16px;
    background-color: #fff;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    color: #262c3a;
    font-family: Montserrat, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    word-break: break-all;
  }

  &__attributes {
    display: flex;
    gap: 16px;
  }

  &__vendor {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #262c3a;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    text-decoration: none;

    img {
      object-fit: contain;
      width: 24px;
      height: 24px;
      border-radius: 4px;
    }
  }

  &__subtitle {
    margin-top: 16px;
    color: #9197af;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;

    p {
      margin: 0;
      font-style: inherit;
      font-weight: inherit;
    }
  }

  &__text {
    margin-top: 24px;
    color: #9197af;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
  }

  &__cta {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
  }

  &__cta-text {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    border-left: 1px solid #9a9b9e;

    span {
      display: block;
      margin-top: 10px;
      color: #9197af;
      font-family: Hind, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 128%;
    }
  }

  &__button {
    max-width: 330px;
    width: 100%;
  }

  @include mixins.bp(l) {
    flex-direction: column;

    &__image {
      margin: 0 auto;
      max-width: 335px;
      width: 100%;
      height: 335px;
    }

    &__title {
      font-size: 36px;
    }
  }

  @include mixins.bp(m) {
    &__cta {
      flex-direction: column;
      gap: 12px;
    }

    &__cta-text {
      flex-direction: row;
      align-items: center;
      gap: 16px;
      padding: 0;
      border: none;

      span {
        margin-top: 0;
      }
    }
  }

  @include mixins.bp(s) {
    &__cta-text {
      flex-direction: column;
    }
  }

  @include bp($small-mobile-breakpoint) {
    &__title {
      font-size: $small-mobile-title-font-size;
    }
  }
}
