@use "../variables";
@use "../mixins";

.benefits {
  $this: &;

  font-size: variables.$font-size-title-m;
  position: relative;
  padding: 1em;
  min-height: 320px;
  border-radius: 16px;
  background: linear-gradient(266deg, #c285f8 0%, #c896f3 79.08%, #8c37d7 100%);

  &::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: -7px;
    width: 300px;
    height: 105%;
    z-index: 1;
  }

  &::before {
    @include mixins.lights-bg();
  }

  &_spades {
    padding-left: 300px;

    &::after {
      left: 40px;
      background-image: url("#{variables.$images-url}/benefits/bg-1.svg");
    }
  }

  &_clubs {
    margin-top: 40px;
    padding-right: 300px;
    &::before {
      @include mixins.horizontal-flip();
    }

    &::after {
      right: 40px;
      background-image: url("#{variables.$images-url}/benefits/bg-2.svg");
    }
  }

  &__title {
    position: relative;
    z-index: 5;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
  }

  

  & ul,
  &__list {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    margin: 0.75em 0 0;
    padding: 0;
    list-style: none;
    z-index: 5;
  }

  & li,
  &__item {
    display: flex;
    align-items: center;
    gap: 0.75em;
    color: #fff;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 20.48px */

    &::before {
      content: "";
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      background-image: url("#{variables.$images-url}/icons/check-green.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &_negative {
    background: linear-gradient(266deg, rgba(245, 80, 157, 0.96) 0%, #fb80b9 79.08%, #ed2c86 100%);

    #{$this}__item, li {
      &::before {
        background-image: url("#{variables.$images-url}/icons/cross-red.svg");
      }
    }
  }


  @include mixins.bp(l) {
    #{$this} {
      &__list {
        grid-template-columns: auto;
      }
    }
  }

  @include mixins.bp(m) {
    display: block;
    padding: 180px 15px 20px;

    &::after {
      top: -21px;
      left: 15px;
      height: 200px;
    }
  
    &_clubs {
      &::before {
        @include mixins.horizontal-flip-reset();
      }
    }
  }
}
