.bonus-card {
  $this: &;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  max-width: 378px;
  border-radius: 16px;
  background-image: var(--Violet-Gradient, linear-gradient(266deg, #C285F8 0%, #C896F3 79.08%, #8C37D7 100%));

  &:nth-child(3n+2) {
    background-image: var(--Red-Gradient, linear-gradient(266deg, rgba(245, 80, 157, 0.96) 0%, #FB80B9 79.08%, #ED2C86 100%));

    #{$this} {
      &__gift {
        background-color: var(--Red-Dark, #C41D1D);
      }
    }
  }

  &:nth-child(3n) {
    background-image: var(--Blue-Gradient, linear-gradient(180deg, #0BB9F8 50.52%, #0A8EF2 100%));

    #{$this} {
      &__gift {
        background-color: var(--Blue-2, #0A8EF2);
      }
    }
  }

  &__tags {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__tag {
    display: flex;
    padding: 6px 24px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #262c3a;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 20.48px */
    border-radius: 100px;
    background-color: #e3f666;
    text-align: center;
  }

  &__header {
    margin-top: 16px;
    margin-bottom: 24px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    flex-grow: 1;
  }

  &__gift {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 14px 32px;
    width: calc(100% + 64px);
    background-color: var(--Violet, #802BCC);

    justify-content: center;
  }

  &__img {
    width: 82px;
    filter: drop-shadow(0px 2.767px 2.214px rgba(0, 0, 0, 0.02)) drop-shadow(0px 6.65px 5.32px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.522px 10.017px rgba(0, 0, 0, 0.04)) drop-shadow(0px 22.336px 17.869px rgba(0, 0, 0, 0.04)) drop-shadow(0px 41.778px 33.422px rgba(0, 0, 0, 0.05)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));
  }

  &__gift-content {
    display: flex;
    flex-direction: column;

    span {
      color: #fff;
      font-family: Hind, sans-serif;
      line-height: 128%; /* 17.92px */

      &:nth-child(1) {
        font-size: 14px;
      }

      &:nth-child(2) {
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-weight: 800;
        text-transform: uppercase;
      }

      &:nth-child(3) {
        font-size: 12px;
      }
    }
  }

  &__subtitle {
    margin-top: 24px;
    margin-bottom: auto;
    color: #fff;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 20.48px */
  }

  &__cta {
    margin-top: 24px;
    width: 100%;
  }

  &__button {
    width: 100%;
  }

  &__info {
    align-self: center;
    margin-top: 12px;
    color: #fff;
    text-align: center;
    font-family: Hind, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 17.92px */
  }

  &__header,
  &__tag {
    & a {
      text-decoration: none;
      color: inherit;

      &:active,
      &:link {
        color: inherit;
      }
    }
  }
}
