.breadcrumbs {
  position: relative;
  z-index: 1;
  padding: 40px 0;
  font: 400 14px/128% Hind, sans-serif;

  &__inner {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    & span {
      & span {
        color: var(--Grey-Light, #9197af);
        font: 400 14px/128% Hind, sans-serif;
        display: flex;
        gap: 18px;
        user-select: none;

        & a {
          color: inherit;
          text-decoration: none;
          user-select: none;
          display: flex;
          align-items: center;

          &:hover {
            opacity: 0.8;
          }
        }

        &:not(:first-child) {
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: " ";
            width: 5px;
            height: 5px;
            background-color: var(--Grey-Light, #9197af);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
