@import "../variables";
@import "../mixins";

/**
 * !! This block has the dependency on the section block
 */

.breadcrumbs {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  font: 400 14px/128% Hind, sans-serif;

  /**
    * Section dependency
   */
  &:not(.breadcrumbs_inline) {
    margin-bottom: -100px;
    height: 100px;

    & + .section {
      padding-top: 100px + ($section-padding / 4);
    }
  }

  /**
    * Breadcrumbs inner
   */
  & > .container > span > span, // for yoast
  & > .container > span,        // for yoast
  & > span > span,              // for yoast
  & > span,                     // for yoast
  &__inner {
    display: flex;
    gap: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #9197af;
    font: 400 14px/128% Hind, sans-serif;
  }

  /**
    * Breadcrumbs item
   */
  & > .container > span > span > a,    // for yoast
  & > .container > span > span > span, // for yoast
  & > span > span > a,    // for yoast
  & > span > span > span, // for yoast
  &__item {
    color: inherit;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 18px;
    user-select: none;
    text-decoration: none;
  }

  & > .container > span > span > a,  // for yoast
  & > span > span > a {              // for yoast
    &:hover {
      opacity: 0.8;
    }
  }

  /**
    * Section dependency
  */
  @include bp($section-breakpoint) {
    &:not(.breadcrumbs_inline) {
      & + .section {
        padding-top: 100px + ($section-padding-mobile / 4);
      }
    }
  }
}
