@import "../variables";
@import "../mixins";

/**
 * !! This block has the dependency on the section block
 */

.breadcrumbs {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  font: 400 14px/128% Hind, sans-serif;

  &:not(.breadcrumbs_inline) {
    margin-bottom: -100px;
    height: 100px;

    & + .section {
      padding-top: 100px + ($section-padding / 4);
    }
  }

  &__inner {
    display: flex;
    gap: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    color: var(--Grey-Light, #9197af);
    font: 400 14px/128% Hind, sans-serif;
    display: flex;
    gap: 18px;
    user-select: none;

    & a {
      color: inherit;
      text-decoration: none;
      user-select: none;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 0.8;
      }
    }

    &:not(:first-child) {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: " ";
        width: 5px;
        height: 5px;
        background-color: var(--Grey-Light, #9197af);
        border-radius: 50%;
      }
    }
  }

  @include bp($section-breakpoint) {
    &:not(.breadcrumbs_inline) {
      & + .section {
        padding-top: 100px + ($section-padding-mobile / 4);
      }
    }
  }
}
