.button {
  $this: &;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 20px 8px;

  border-radius: 100px;
  border: none;
  background-color: var(--Red, #f5509d);
  box-shadow: 0 0 24px 0 rgba(245, 80, 157, 0.50);

  color: var(--White, #fff);

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;

  &:hover {
    background-color: #ea739f;
    cursor: pointer;
  }

  &:active {
    background-color: #f5509d;
  }

  &:link {
    color: #fff;
    text-decoration: none;
  }

  &:visited {
    color: #fff;
  }

  &_outline {
    border: 1px solid var(--Red, #f5509d);
    background-color: transparent;

    &:hover {
      color: var(--White, #fff);
      background-color: rgba(#f5509d, 0.1);
    }

    &:active {
      color: var(--White, #fff);
      background-color: transparent;
    }
  }

  &_v2 {
    background: #e3f666;
    box-shadow: 0 0 20px 0 rgba(227, 246, 102, 0.25);

    color: #000;

    &:hover {
      background: #ecff9c;
    }

    &:active {
      background: #e3f666;
    }

    &:link {
      color: #000;
    }

    &:visited {
      color: #000;
    }

    &#{$this}_outline {
      border: 1px solid #e3f666;
      background-color: transparent;

      color: #fff;

      &:hover {
        background-color: rgba(#e3f666, 0.1);
      }

      &:active {
        background-color: transparent;
      }
    }
  }
}
