.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 20px 8px;

  border-radius: 100px;
  border: none;
  background-color: var(--Red, #f5509d);
  box-shadow: 0 0 24px 0 rgba(245, 80, 157, 0.50);

  color: var(--White, #fff);
  text-decoration: none;

  /* Action/Button */
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: #ea739f;
    cursor: pointer;
  }

  &:active {
    background-color: #f5509d;
  }

  &_outline {
    border: 1px solid var(--Red, #f5509d);
    background-color: transparent;

    &:hover {
      color: var(--White, #fff);
      background-color: rgba(#f5509d, 0.1);
    }

    &:active {
      color: var(--White, #fff);
      background-color: transparent;
    }
  }

  &:link {
    color: var(--White, #fff);
    //color: inherit;
  }

  &:visited {
    color: var(--White, #fff);
    //color: inherit;
  }
}
