@use "../variables";
@use "../mixins";

.card-top {
  display: flex;
  max-width: 576px;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  border-radius: 16px;
  background: linear-gradient(180deg, #0bb9f8 50%, #0a8ef2 100%);

  &__image {
    width: 100%;
    height: 222px;
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__title {
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 56px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100%;
  }

  &__subtitle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    margin-top: 16px;
    width: 100%;
  }

  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    flex-grow: 1;

    & pre {
      margin: 0;
      padding: 0;
      display: inline;
      width: auto;
      white-space: pre-wrap;
      word-wrap: break-word;

      & * {
        margin: 0;
        padding: 0;
      }
    }

    & p {
      margin: 0;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
    min-height: 30px;

    & i {
      font-size: 26px;
    }

    &::before {
      content: "";
      display: flex;
      width: 26px;
      height: 26px;
      background-image: url("#{variables.$images-url}/icons/star.svg");
      margin-right: 12px;
    }
  }

  &__text {
    margin-top: 24px;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;

    & * {
      margin: 0;
      padding: 0;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }

  &__cta-text {
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid #fff;

    span {
      display: flex;
      align-items: center;
      margin-top: 10px;
      font-family: Hind, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 128%;
    }
  }

  &__button {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: 32px;
    padding: 16px;
    width: 100%;
    border-radius: 12px;
    background-color: #0baff7;
    font-family: Hind, sans-serif;
    font-size: 14px;
    font-weight: 400;

    & i.exclamation {
      &::before {
        content: '\f06a';
        font-size: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      margin-inline-end: 10px;
    }
  }

  @include mixins.bp(m) {
    max-width: none;

    &__title {
      font-size: 36px;
    }

    &__subtitle {
      flex-direction: column;
      align-items: flex-start;
    }

    &__cta {
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }

    &__cta-text {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-left: 0;
      padding-left: 0;
      border: none;

      span {
        margin-top: 0;
      }
    }
  }

  @include mixins.bp(s) {
    &__cta-text {
      flex-direction: column;
    }
  }
}
