@import "../mixins";

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none;

  &_col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &_col-3 {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  @include bp(1230px) {
    grid-template-columns: repeat(2, auto);
    justify-content: center;

    &_col-2 {
      grid-template-columns: auto;
    }

    &_col-3 {
      grid-template-columns: repeat(2, auto);
    }
  }

  @include bp(m) {
    grid-template-columns: auto;
  }
}
