@use '../variables';
@use '../mixins';

.characteristic-table {
  font-size: variables.$font-size-title-m;

  &__title {
    font-size: inherit;
    margin-bottom: 1.1em;
  }

  &__table {
    color: #fff;
    margin: 0 auto 30px;
    width: 100%;
    border-collapse: collapse;

    tbody {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }

    tr {
      display: grid;
      grid-template-columns: 220px 1fr;
      background-color: variables.$dark-grey;
      font-size: 0.6em;

      &:nth-child(4n-1),
      &:nth-child(4n) {
        background-color: variables.$dark-grey-2;
      }

      td {
        padding: 0.5em 1em;
        word-break: break-all;

        &:nth-child(2) {
          text-align: right;
          color: variables.$highlight-color;
          text-transform: uppercase;
          font-size: calc(1em - 2px);
        }
      }
    }
  }

  @include mixins.bp(m) {
    font-size: variables.$font-size-title-s;

    &__table {
      tbody {
        grid-template-columns: 1fr;
      }

      tr {
        grid-template-columns: 150px 1fr;

        &:nth-child(4n-1),
        &:nth-child(4n) {
          background-color: variables.$dark-grey;
        }

        &:nth-child(2n) {
          background-color: variables.$dark-grey-2;
        }
      }
    }
  }
}
