@import "../variables";
@import "../mixins";

.content-cards {
  padding-top: 60px;
  padding-bottom: 135px;

  &__switch {

  }

  &__list {
    margin-top: 40px;
  }

  &__footer {
    margin-top: 60px;
  }
}
