@import "../variables";
@import "../mixins";

.footer {
  overflow: hidden;
  padding-top: 80px;
  background-color: #1b1f28;

  &__container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "info nav"
      "social social";
    justify-items: end;
    gap: 80px;
  }

  &__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__logo {
    height: 84px;

    img {
      height: 100%;
    }
  }

  &__text {
    color: #fff;
    font-family: Hind, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 17.92px */

    a {
      color: inherit;
    }
  }

  &__nav {
    grid-area: nav;
    display: flex;
    gap: 236px;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;

    & + & {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -118px;
        display: block;
        width: 1px;
        height: 100%;
        background-color: #404556;
      }
    }
  }

  &__item {

  }

  &__link {
    color: #9197af;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  &__social {
    grid-area: social;
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    background-color: #262c3a;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100%;
      background-color: #262c3a;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }

  &__social-link {
    opacity: 0.24;
    display: flex;
    height: 34px;

    img {
      height: 100%;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  @include bp(l) {
    padding-top: 60px;

    &__container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "info"
        "nav"
        "social";
      justify-items: center;
      gap: 60px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      max-width: 350px;
      color: #9197af;
    }

    &__social {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include bp(m) {
    &__logo {
      max-width: 300px;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      text-align: center;
    }

    &__nav {
      gap: 24px;
      flex-direction: column;
    }

    &__list {
      & + & {
        &::before {
          content: none;
        }
      }
    }
  }
}
