.game-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  max-width: 378px;
  border-radius: 16px;
  background: var(--Grey-Dark-2, #1b1f28);

  &__image {
    overflow: hidden;
    width: 100%;
    height: 222px;
    flex-shrink: 0;
    border-radius: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
  }

  &__title {
    margin-top: 24px;
    color: var(--White, #fff);
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 10px;
    margin-bottom: auto;
    color: var(--Grey-Light, #9197af);
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 20.48px */
  }

  &__cta {
    margin-top: 24px;
    width: 100%;
  }

  &__button {
    width: 100%;
  }

  &__info {
    align-self: center;
    margin-top: 12px;
    color: var(--Grey-Light, #9197af);
    text-align: center;
    font-family: Hind, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 17.92px */
  }
}
