@import "../mixins";

.header {
  position: relative;
  z-index: 2;
  max-height: 104px;
  background: #262c3a;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
    margin-right: 53px;
    width: 162px;

    img {
      width: 100%;
    }
  }

  &__search {
    margin-right: auto;
  }

  @include bp(1230px) {
    &__inner {
      justify-content: flex-start;
    }
  }
}
