@import "../variables";
@import "../mixins";

.navigation {
  $this: &;

  &__inner {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 104px;

    a {
      color: #fff;
      font-family: Hind, sans-serif;
      text-decoration: none;
    }

    &.menu-item-has-children {
      &::after {
        content: "";
        display: flex;
        flex-shrink: 0;
        margin-left: 3px;
        width: 16px;
        height: 16px;
        background-image: url("#{$images-url}/icons/arrow-down.svg");
      }
    }

    &:hover {
      cursor: pointer;

      & > a {
        color: #a3aecb;
      }

      & > #{$this} {
        &__submenu {
          display: flex;
          opacity: 1;
        }
      }
    }
  }

  &__submenu {
    display: none;
    opacity: 0;
    position: absolute;
    top: 104px;
    left: -24px;
    flex-direction: column;
    padding: 0;
    width: 230px;
    background-color: #262c3a;
    border-radius: 0 0 12px 12px;
    transition: top, opacity 300ms ease-in-out;

    &.active {
      top: 80px;
      opacity: 1;
      visibility: visible;
    }

    #{$this} {
      &__item {
        justify-content: space-between;
        gap: 0;
        padding: 15px 24px;
        height: auto;

        a {
          color: #fff;
        }

        &:hover {
          background-color: #393f56;
        }

        &:last-child {
          border-radius: 0 0 12px 12px;
        }
      }

      &__submenu {
        top: 0;
        left: 100%;
        border-radius: 0 12px 12px 12px;

        #{$this} {
          &__item {
            &:first-child {
              border-radius: 0 12px 0 0;
            }

            &:last-child {
              border-radius: 0 12px 12px 12px;
            }
          }
        }
      }
    }
  }

  &__burger {
    display: none;

    span {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding: 4px 2px;
      width: 100%;
      height: 100%;

      span {
        margin: 0;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;

        &:nth-child(1) {
          width: 75%;
        }

        &:nth-child(2) {
          width: 100%;
        }

        &:nth-child(3) {
          width: 57%;
        }
      }
    }
  }

  @include bp(1230px) {
    &__inner {
      display: none;
    }

    &__burger {
      display: flex;
      padding: 14px;
      width: 48px;
      height: 48px;
      border-radius: 48px;
      background-color: #1b1f28;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
