@use "../variables";
@use "../mixins";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;

  a.prev,
  a.next {
    padding: 24px;
    width: 24px;
    height: 24px;
    background-image: url("#{variables.$images-url}/icons/arrow-left.svg");
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    border-radius: 12px;
    font-size: 0;

    &.next {
      transform: rotate(180deg);
    }

    &:hover {
      background-color: rgba(#9197af, 0.3);
    }
  }

  .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    color: #9197af;
    border-radius: 12px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;

    &.active,
    &.current {
      color: #fff;
      background-color: #f5509d;
      cursor: auto;
    }

    &:hover:not(.active) {
      background-color: rgba(#9197af, 0.3);
    }
  }

  @include mixins.bp(380px) {
    a.prev,
    a.next {
      padding: 20px;
      width: 20px;
      height: 20px;
      background-size: 20px;
      border-radius: 10px;
    }

    .page-numbers {
      width: 40px;
      height: 40px;
      font-size: 14px;
      border-radius: 10px;
    }
  }

  @include mixins.bp(s) {
    gap: 3px;
  }
}
