@import "../variables";
@import "../mixins";

.search-form {
  position: relative;
  display: flex;
  margin: 0;

  .mobile {
    display: none;
  }

  &__input {
    padding-left: 60px;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    background: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      opacity: 0.8;
    }

    img {
      display: flex;
      width: 20px;
      height: 20px;
    }

    &.hidden {
      visibility: hidden;
    }
  }

  @include bp(1230px) {
    display: flex;

    .mobile {
      display: flex;
    }

    .desktop {
      display: none;
    }

    &__button {
      position: static;
      transform: none;
      display: flex;
      margin-left: auto;
      padding: 14px;
      width: 48px;
      height: 48px;
      border-radius: 48px;
      background-color: #1b1f28;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
