@use "../variables";
@use "../mixins";

.section-top {
  position: relative;
  margin-top: -98px;
  padding-top: 98px;
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden;

  &::before {
    content: "";
    opacity: 0.3;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 300%;
    height: 300%;
    transform: translateX(-50%) rotate(-25deg);
    background-image: url("#{variables.$images-url}/section/suits_3.svg");
    background-size: 520px;
    background-repeat: repeat;
    background-position: 0 0;
  }

  &::after {
    content: "";
    display: flex;
    position: absolute;
    left: calc(50% + 395px);
    top: calc(50% - 100px);
    z-index: 0;
    width: 480px;
    height: 480px;
    border-radius: 480px;
    background-color: #e3f666;
    transform: translate(-50%, -50%);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__clouds-1 {
    position: absolute;
    left: calc(50% - 430px);
    top: calc(50% + 160px);
    z-index: -1;
    width: 1165px;
    transform: translate(-50%, -50%);
    mix-blend-mode: lighten;
  }

  &__clouds-2 {
    position: absolute;
    right: 0;
    top: -125px;
    z-index: -1;
    width: 1280px;
    mix-blend-mode: lighten;
  }

  &__deer {
    position: absolute;
    left: calc(50% + 340px);
    bottom: 0;
    width: 500px;
    transform: translateX(-50%);
    z-index: 1;
  }

  @include mixins.bp(1180px) {
    &::after {
      top: calc(50% - 20px);
      width: 400px;
      height: 400px;
    }

    &__deer {
      width: 400px;
    }
  }

  @include mixins.bp(1130px) {
    &::after {
      top: calc(50% + 100px);
      width: 300px;
      height: 300px;
    }

    &__deer {
      width: 300px;
    }
  }

  @include mixins.bp(870px) {
    &::after,
    &__deer {
      display: none;
    }
  }
}
