.tag {
  display: flex;
  padding: 5px 18px 3px;
  justify-content: center;
  align-items: center;
  color: #262c3a;
  border-radius: 100px;
  background-color: #e3f666;
  font-family: Hind, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  text-align: center;
  text-decoration: none;
  text-transform: none;

  &:link {
    color: #262c3a;
  }

  &:visited {
    color: #262c3a;
  }
}
