$images-url: "../assets/images";

$section-padding: 75px;
$section-padding-mobile: 40px;

$section-breakpoint: 900px;
$small-mobile-breakpoint: 400px;

$font-size-title-s: 30px;
$font-size-subtitle-s: 20px;
