$images-url: "../assets/images";

$section-padding: 50px;
$section-padding-mobile: 40px;

$section-breakpoint: 900px;
$small-mobile-breakpoint: 400px;

$font-size-title-l: 36px;
$font-size-title-m: 30px;
$font-size-title-s: 24px;
$font-size-title-xs: 18px;
$font-size-subtitle-s: 20px;

$action-color: #0baff7;
