$images-url: "../assets/images";

$section-padding: 75px;
$section-padding-mobile: 40px;
$section-breakpoint: 900px;
$small-mobile-breakpoint: 400px;
$small-mobile-title-font-size: 30px;
$small-mobile-subtitle-font-size: 20px;
