body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1b1f28;
  font-family: Montserrat, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1170px !important;
  width: 100%; }
  .container.relative {
    position: relative; }

.section {
  padding: 150px 0;
  background-color: #262c3a; }
  .section__inner {
    position: relative;
    z-index: 1; }
  .section__title {
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase; }
    .section__title em {
      color: #e3f666;
      font-style: inherit; }
  .section__subtitle {
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    max-width: 735px;
    color: #9197af;
    text-align: center;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 20.48px */ }
  .section__content {
    margin-top: 80px; }
  .section_suits {
    position: relative;
    overflow: hidden;
    background-color: #1b1f28; }
    .section_suits::before {
      content: "";
      opacity: 0.3;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 400%;
      height: 300%;
      transform: translateX(-50%) rotate(-25deg);
      background-image: url("../assets/images/section/suits_3.svg");
      background-size: 520px;
      background-repeat: repeat;
      background-position: 0 0; }
  .section_bg {
    position: relative; }
    .section_bg::before {
      content: "";
      opacity: 0.24;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-color: lightgray;
      mix-blend-mode: overlay;
      filter: blur(8px); }
    .section_bg_1::before {
      opacity: 0.32;
      background-image: url("../assets/images/section/bg1.png"); }
    .section_bg_2::before {
      background-image: url("../assets/images/section/bg2.jpeg"); }
    .section_bg_3::before {
      background-image: url("../assets/images/section/bg3.jpeg"); }
    .section_bg_4::before {
      background-image: url("../assets/images/section/bg4.jpeg"); }
  .section_img .section__inner {
    display: flex;
    align-items: center;
    gap: 72px; }
  .section_img .section__title {
    text-align: left; }
  .section_img .section__subtitle {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    text-align: left; }
  .section_img .section__image img:nth-child(1) {
    position: relative;
    z-index: 1;
    width: 522px; }
  .section_img .section__image img:nth-child(2) {
    opacity: 0.16;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-85%) translateY(-50%);
    height: calc(300%); }
  @media (max-width: 768px) {
    .section {
      padding-top: 80px;
      padding-bottom: 80px; }
      .section_img .section__inner {
        flex-direction: column-reverse; }
      .section_img .section__image img:nth-child(1) {
        width: 100%; }
      .section_img .section__image img:nth-child(2) {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(calc(-50% + 150px));
        height: 150%; }
      .section .section__title {
        font-size: 36px; }
      .section .section__content {
        margin-top: 60px; } }

.input {
  display: flex;
  padding: 22px 24px;
  max-height: 64px;
  color: #fff;
  font-family: Hind, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  border-radius: 16px;
  border: 1px solid #404556;
  background-color: #1b1f28; }
  .input:-webkit-autofill, .input:-webkit-autofill:hover, .input:-webkit-autofill:focus, .input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
    box-shadow: inset 0 0 20px 50px #1b1f28; }
  .input_search {
    padding: 14px 24px;
    max-height: 48px;
    border-radius: 12px; }
  .input_textarea {
    max-height: none;
    height: 100%;
    resize: none; }
  .input::placeholder {
    color: #9197af; }
  .input:focus {
    border-color: #fff;
    outline: none; }

.input-label {
  display: flex;
  flex-direction: column;
  gap: 10px; }
  .input-label__label {
    color: var(--Grey-Light, #9197AF);
    font-family: Hind, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 17.92px */ }

.search {
  position: relative;
  display: flex; }
  .search__input {
    padding-left: 60px; }
  .search__button {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    background: none; }
    .search__button:hover {
      cursor: pointer; }
    .search__button:active {
      opacity: 0.8; }
    .search__button img {
      display: flex;
      width: 20px;
      height: 20px; }
  @media (max-width: 1230px) {
    .search {
      display: flex; }
      .search__input {
        display: none; }
      .search__button {
        position: static;
        transform: none;
        display: flex;
        margin-left: auto;
        padding: 14px;
        width: 48px;
        height: 48px;
        border-radius: 48px;
        background-color: #1b1f28; }
        .search__button:hover {
          cursor: pointer;
          opacity: 0.8; } }

.button {
  display: inline-flex;
  justify-content: center;
  padding: 22px 60px;
  border-radius: 100px;
  border: none;
  background: var(--Red, #F5509D);
  box-shadow: 0 0 24px 0 rgba(245, 80, 157, 0.5);
  color: var(--White, #FFF);
  /* Action/Button */
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-align: center; }
  .button:hover {
    background: #ea739f;
    cursor: pointer; }
  .button:active {
    background: #f5509d; }

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 12px; }
  .checkbox__input {
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 2px;
    color: currentColor;
    background-color: #429837;
    font: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none; }
    .checkbox__input::before {
      content: "";
      width: 24px;
      height: 24px;
      opacity: 0;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.969 8.57151C19.3664 8.15913 19.3542 7.50259 18.9417 7.10519C18.5294 6.7078 17.8728 6.71999 17.4754 7.13242L9.72834 15.1722L6.52452 11.8473C6.12712 11.4349 5.47058 11.4227 5.0582 11.8201C4.64577 12.2175 4.63358 12.874 5.03097 13.2865L8.98162 17.3863C9.17705 17.5892 9.44668 17.7038 9.72834 17.7038C10.01 17.7038 10.2797 17.5892 10.4751 17.3863L18.969 8.57151Z" fill="white"/></svg>');
      transform: translateY(5px);
      transition: opacity, transform 100ms ease-in-out; }
    .checkbox__input:checked::before {
      opacity: 1;
      transform: translateY(0); }
    .checkbox__input:disabled {
      --form-control-color: #959495;
      color: #959495;
      cursor: not-allowed; }
  .checkbox__label {
    color: #9197af;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 20.48px */
    cursor: pointer; }

.header {
  position: relative;
  z-index: 2;
  max-height: 104px;
  background-color: #262c3a; }
  .header__inner {
    display: flex;
    align-items: center; }
  .header__logo {
    display: flex;
    flex-shrink: 0;
    margin-right: 53px;
    width: 162px; }
    .header__logo img {
      width: 100%; }
  .header__search {
    margin-right: auto; }
  @media (max-width: 1230px) {
    .header__inner {
      justify-content: flex-start;
      height: 86px; }
    .header__search {
      margin-left: auto;
      margin-right: 24px; } }

.breadcrumbs {
  position: relative;
  z-index: 1;
  padding: 40px 0; }
  .breadcrumbs__inner {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  .breadcrumbs__item {
    display: flex;
    align-items: center;
    color: var(--Grey-Light, #9197af);
    font: 400 14px/128% Hind, sans-serif; }
    .breadcrumbs__item:not(:first-child)::before {
      content: "";
      display: flex;
      margin-right: 18px;
      margin-left: 18px;
      width: 5px;
      height: 5px;
      background-color: #9197af;
      border-radius: 50%; }
    .breadcrumbs__item a {
      color: #9197af;
      text-decoration: none; }
      .breadcrumbs__item a:hover {
        opacity: 0.8; }

.navigation__inner {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 0 0 24px;
  padding: 0;
  list-style: none; }

.navigation__item {
  position: relative;
  display: flex;
  align-items: center; }
  .navigation__item a {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    height: 104px;
    color: #fff;
    font-family: Hind, sans-serif;
    text-decoration: none;
    white-space: nowrap; }
  .navigation__item.menu-item-has-children > a::after {
    content: "";
    display: flex;
    flex-shrink: 0;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url("../assets/images/icons/arrow-down.svg"); }
  .navigation__item:hover {
    cursor: pointer; }
    .navigation__item:hover > a {
      color: #a3aecb; }
    .navigation__item:hover > .navigation__submenu {
      display: flex;
      opacity: 1; }

.navigation__submenu {
  display: none;
  opacity: 0;
  position: absolute;
  top: 104px;
  left: -24px;
  flex-direction: column;
  padding: 0;
  width: 230px;
  background-color: #262c3a;
  border-radius: 0 0 12px 12px;
  transition: top, opacity 300ms ease-in-out; }
  .navigation__submenu.active {
    top: 80px;
    opacity: 1;
    visibility: visible; }
  .navigation__submenu .navigation__item a {
    gap: 0;
    justify-content: space-between;
    padding: 15px 24px;
    height: auto;
    color: #fff;
    white-space: break-spaces; }
    .navigation__submenu .navigation__item a::after {
      transform: rotate(-90deg); }
  .navigation__submenu .navigation__item:hover {
    background-color: #393f56; }
  .navigation__submenu .navigation__item:last-child {
    border-radius: 0 0 12px 12px; }
  .navigation__submenu .navigation__submenu {
    top: 0;
    left: 100%;
    border-radius: 0 12px 12px 12px; }
    .navigation__submenu .navigation__submenu .navigation__item:first-child {
      border-radius: 0 12px 0 0; }
    .navigation__submenu .navigation__submenu .navigation__item:last-child {
      border-radius: 0 0 12px 12px; }

.navigation__burger {
  display: none; }
  .navigation__burger > span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4px 2px;
    width: 100%;
    height: 100%; }
    .navigation__burger > span span {
      margin: 0;
      height: 2px;
      border-radius: 2px;
      background-color: #fff; }
      .navigation__burger > span span:nth-child(1) {
        width: 75%; }
      .navigation__burger > span span:nth-child(2) {
        width: 100%; }
      .navigation__burger > span span:nth-child(3) {
        width: 57%; }

@media (max-width: 1230px) {
  .navigation__inner {
    display: none; }
  .navigation__burger {
    display: flex;
    padding: 14px;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: #1b1f28; }
    .navigation__burger:hover {
      cursor: pointer;
      opacity: 0.8; } }

.card-top {
  display: flex;
  max-width: 576px;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  border-radius: 16px;
  background: linear-gradient(180deg, #0BB9F8 50%, #0A8EF2 100%); }
  .card-top__image {
    width: 100%;
    height: 222px;
    border-radius: 16px;
    overflow: hidden; }
    .card-top__image img {
      width: 100%; }
  .card-top__title {
    margin-top: 32px;
    font-size: 56px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100%; }
  .card-top__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    width: 100%;
    font-size: 20px;
    font-weight: 600; }
  .card-top__rating {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600; }
    .card-top__rating::before {
      content: "";
      display: flex;
      width: 26px;
      height: 26px;
      background-image: url("../assets/images/icons/star.svg");
      margin-right: 12px; }
  .card-top__text {
    margin-top: 24px;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; }
  .card-top__cta {
    display: flex;
    align-items: center;
    margin-top: 32px; }
    .card-top__cta span {
      display: flex;
      align-items: center;
      font-family: Hind, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 128%; }
      .card-top__cta span::before {
        content: "";
        display: flex;
        width: 1px;
        height: 64px;
        background-color: #fff;
        margin-right: 24px;
        margin-left: 24px; }
  .card-top__info {
    display: flex;
    align-items: center;
    margin-top: 32px;
    padding: 16px;
    width: 100%;
    border-radius: 12px;
    background-color: #0baff7;
    font-family: Hind, sans-serif;
    font-size: 14px;
    font-weight: 400; }
    .card-top__info::before {
      content: "";
      display: flex;
      width: 20px;
      height: 20px;
      background-image: url("../assets/images/icons/attention.svg");
      margin-right: 10px; }
  @media (max-width: 768px) {
    .card-top {
      max-width: none; }
      .card-top__title {
        font-size: 36px; }
      .card-top__subtitle {
        flex-direction: column;
        align-items: flex-start; }
      .card-top__cta {
        flex-direction: column;
        gap: 16px;
        width: 100%; }
        .card-top__cta span::before {
          display: none; } }

.section-top {
  position: relative;
  margin-top: -98px;
  padding-top: 98px;
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden; }
  .section-top::before {
    content: "";
    opacity: 0.3;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 300%;
    height: 300%;
    transform: translateX(-50%) rotate(-25deg);
    background-image: url("../assets/images/section/suits_3.svg");
    background-size: 520px;
    background-repeat: repeat;
    background-position: 0 0; }
  .section-top::after {
    content: "";
    display: flex;
    position: absolute;
    left: calc(50% + 395px);
    top: calc(50% - 100px);
    z-index: 0;
    width: 480px;
    height: 480px;
    border-radius: 480px;
    background-color: #e3f666;
    transform: translate(-50%, -50%); }
    @media (max-width: 1450px) {
      .section-top::after {
        display: none; } }
  .section-top .container {
    position: relative;
    z-index: 2; }
  .section-top__clouds-1 {
    position: absolute;
    left: calc(50% - 430px);
    top: calc(50% + 160px);
    z-index: -1;
    width: 1165px;
    transform: translate(-50%, -50%);
    mix-blend-mode: lighten; }
  .section-top__clouds-2 {
    position: absolute;
    right: 0;
    top: -125px;
    z-index: -1;
    width: 1280px;
    mix-blend-mode: lighten; }
  .section-top__deer {
    position: absolute;
    left: calc(50% + 340px);
    bottom: 0;
    width: 500px;
    transform: translateX(-50%);
    z-index: 1; }
    @media (max-width: 1450px) {
      .section-top__deer {
        display: none; } }

.benefits {
  position: relative;
  padding: 60px 400px 60px 80px;
  border-radius: 16px;
  background: linear-gradient(266deg, #c285f8 0%, #c896f3 79.08%, #8c37d7 100%); }
  .benefits + .benefits {
    margin-top: 40px; }
  .benefits::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 16px;
    opacity: 0.24;
    width: 100%;
    height: 100%;
    background: url("../assets/images/lights-1.png"); }
  .benefits__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase; }
  .benefits__list {
    position: relative;
    z-index: 1;
    display: grid;
    row-gap: 16px;
    column-gap: 50px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: start;
    margin: 40px 0 0;
    padding: 0;
    list-style: none; }
  .benefits__item {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 20.48px */ }
    .benefits__item::before {
      content: "";
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      background-image: url("../assets/images/icons/check-green.svg");
      background-size: contain;
      background-repeat: no-repeat; }
  .benefits_negative {
    background: linear-gradient(266deg, rgba(245, 80, 157, 0.96) 0%, #fb80b9 79.08%, #ed2c86 100%); }
    .benefits_negative .benefits__item::before {
      background-image: url("../assets/images/icons/cross-red.svg"); }
  .benefits_spades {
    padding-left: 440px;
    padding-right: 80px; }
    .benefits_spades::after {
      content: "";
      position: absolute;
      top: -18px;
      left: 80px;
      z-index: 1;
      width: 279px;
      height: 360px;
      background-image: url("../assets/images/benefits/bg-1.svg");
      background-size: contain; }
  .benefits_clubs::before {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  .benefits_clubs::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 80px;
    z-index: 1;
    width: 316px;
    height: 361px;
    background-image: url("../assets/images/benefits/bg-2.svg");
    background-size: contain; }
  @media (max-width: 1024px) {
    .benefits .benefits__list {
      row-gap: 12px;
      grid-template-columns: auto;
      grid-template-rows: auto;
      justify-content: start;
      margin: 40px 0 0; } }
  @media (max-width: 768px) {
    .benefits {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding: 205px 15px 25px;
      max-width: 335px; }
      .benefits + .benefits {
        margin-top: 60px; }
      .benefits_spades::after, .benefits_clubs::after {
        top: -41px;
        left: 15px;
        right: auto;
        height: 214px; }
      .benefits_spades::after {
        width: 166px; }
      .benefits_clubs::before {
        -moz-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
        filter: none;
        -ms-filter: none; }
      .benefits_clubs::after {
        width: 187px; } }

.tags {
  margin: 0;
  padding: 0;
  list-style: none; }
  .tags__card {
    display: flex;
    align-items: flex-start;
    gap: 65px;
    padding: 24px;
    background-color: #1b1f28; }
    .tags__card:nth-child(2n) {
      background-color: transparent; }
  .tags__header {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    width: 270px; }
  .tags__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: #fff; }
    .tags__icon img {
      width: 44px;
      height: 44px; }
  .tags__title {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
  .tags__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none; }
  .tags__item {
    padding: 6px 24px;
    border-radius: 100px;
    background-color: #e3f666; }
  @media (max-width: 1024px) {
    .tags__card {
      flex-direction: column;
      gap: 20px;
      padding: 24px 16px; }
    .tags__header {
      width: auto; }
    .tags__list {
      gap: 12px; } }

.rating-card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas: "tags tags" "about cta" "content content";
  grid-template-columns: 1fr 330px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 60px;
  border-radius: 16px;
  background: linear-gradient(180deg, #0bb9f8 50.52%, #0a8ef2 100%); }
  .rating-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 16px;
    opacity: 0.24;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/lights-1.png");
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  .rating-card::after {
    content: "";
    position: absolute;
    top: 56px;
    left: 390px;
    z-index: 0;
    opacity: 0.24;
    width: 310px;
    height: 340px;
    background-image: url("../assets/images/rating-card/heart.svg");
    background-repeat: no-repeat;
    mix-blend-mode: color-burn; }
  .rating-card__tags {
    grid-area: tags;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 16px; }
  .rating-card__tag {
    padding: 6px 15px;
    border-radius: 12px;
    background-color: #2082e7;
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
  .rating-card__about {
    grid-area: about;
    position: relative;
    z-index: 1;
    padding-top: 10px; }
  .rating-card__price {
    margin-bottom: 20px;
    color: #e3f666;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase; }
  .rating-card__title {
    margin-bottom: 16px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
  .rating-card__subtitle {
    color: #fff;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 20.48px */ }
  .rating-card__cta {
    grid-area: cta;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .rating-card__cta span {
      display: flex;
      justify-content: center;
      margin-top: 24px;
      color: #fff;
      text-align: center;
      font-family: Hind, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 128%;
      /* 17.92px */ }
  .rating-card__button {
    padding-left: 115px;
    padding-right: 115px; }
  .rating-card__content {
    grid-area: content;
    position: relative;
    z-index: 1;
    display: flex;
    gap: 40px;
    margin-top: 32px;
    padding: 32px;
    border-radius: 16px;
    background: #0a8ef2; }
  .rating-card__overall-rating {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 32px;
    border-radius: 16px;
    background: #0baff7; }
    .rating-card__overall-rating var {
      display: flex;
      align-items: center;
      gap: 16px;
      color: #fff;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 56px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase; }
      .rating-card__overall-rating var::before, .rating-card__overall-rating var::after {
        content: "";
        display: inline-flex;
        width: 24px;
        height: 24px;
        background-image: url("../assets/images/icons/star.svg");
        background-size: contain; }
    .rating-card__overall-rating span {
      display: block;
      color: #fff;
      text-align: center;
      font-family: Hind, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal; }
  .rating-card__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none; }
  .rating-card__name {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
  .rating-card__rating {
    display: flex;
    gap: 8px;
    margin-top: 12px;
    width: 100%;
    height: 16px; }
    .rating-card__rating span {
      display: inline-flex;
      width: 16px;
      height: 16px;
      background-image: url("../assets/images/icons/star.svg");
      background-size: contain; }
  @media (max-width: 1050px) {
    .rating-card {
      padding: 24px 16px;
      grid-template-areas: "tags" "about" "content" "cta";
      grid-template-columns: 1fr; }
      .rating-card__price {
        margin-bottom: 10px; }
      .rating-card__content {
        gap: 20px;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 16px;
        flex-direction: column; }
      .rating-card__list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        column-gap: 0;
        row-gap: 24px; } }

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 1230px) {
    .card-list {
      grid-template-columns: repeat(2, auto);
      justify-content: center; } }
  @media (max-width: 768px) {
    .card-list {
      grid-template-columns: auto; } }

.game-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  max-width: 378px;
  border-radius: 16px;
  background: var(--Grey-Dark-2, #1b1f28); }
  .game-card__image {
    overflow: hidden;
    width: 100%;
    height: 222px;
    flex-shrink: 0;
    border-radius: 16px; }
    .game-card__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px; }
  .game-card__title {
    margin-top: 24px;
    color: var(--White, #fff);
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase; }
  .game-card__subtitle {
    margin-top: 10px;
    margin-bottom: auto;
    color: var(--Grey-Light, #9197af);
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 20.48px */ }
  .game-card__cta {
    margin-top: 24px;
    width: 100%; }
  .game-card__button {
    width: 100%; }
  .game-card__info {
    align-self: center;
    margin-top: 12px;
    color: var(--Grey-Light, #9197af);
    text-align: center;
    font-family: Hind, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 17.92px */ }

.bonus-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  max-width: 378px;
  border-radius: 16px;
  background-image: var(--Violet-Gradient, linear-gradient(266deg, #C285F8 0%, #C896F3 79.08%, #8C37D7 100%)); }
  .bonus-card:nth-child(2n) {
    background-image: var(--Red-Gradient, linear-gradient(266deg, rgba(245, 80, 157, 0.96) 0%, #FB80B9 79.08%, #ED2C86 100%)); }
    .bonus-card:nth-child(2n) .bonus-card__gift {
      background-color: var(--Red-Dark, #C41D1D); }
  .bonus-card:nth-child(3n) {
    background-image: var(--Blue-Gradient, linear-gradient(180deg, #0BB9F8 50.52%, #0A8EF2 100%)); }
    .bonus-card:nth-child(3n) .bonus-card__gift {
      background-color: var(--Blue-2, #0A8EF2); }
  .bonus-card__tags {
    display: flex;
    gap: 16px;
    flex-wrap: wrap; }
  .bonus-card__tag {
    display: flex;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #262c3a;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 20.48px */
    border-radius: 100px;
    background-color: #e3f666;
    text-align: center; }
  .bonus-card__header {
    margin-top: 16px;
    margin-bottom: 24px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase; }
  .bonus-card__gift {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 14px 32px;
    width: calc(100% + 64px);
    background-color: var(--Violet, #802BCC); }
  .bonus-card__img {
    width: 82px;
    filter: drop-shadow(0px 2.767px 2.214px rgba(0, 0, 0, 0.02)) drop-shadow(0px 6.65px 5.32px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.522px 10.017px rgba(0, 0, 0, 0.04)) drop-shadow(0px 22.336px 17.869px rgba(0, 0, 0, 0.04)) drop-shadow(0px 41.778px 33.422px rgba(0, 0, 0, 0.05)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)); }
  .bonus-card__gift-content {
    display: flex;
    flex-direction: column; }
    .bonus-card__gift-content span {
      color: #fff;
      font-family: Hind, sans-serif;
      line-height: 128%;
      /* 17.92px */ }
      .bonus-card__gift-content span:nth-child(1) {
        font-size: 14px; }
      .bonus-card__gift-content span:nth-child(2) {
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-weight: 800;
        text-transform: uppercase; }
      .bonus-card__gift-content span:nth-child(3) {
        font-size: 12px; }
  .bonus-card__subtitle {
    margin-top: 24px;
    margin-bottom: auto;
    color: #fff;
    font-family: Hind, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 20.48px */ }
  .bonus-card__cta {
    margin-top: 24px;
    width: 100%; }
  .bonus-card__button {
    width: 100%; }
  .bonus-card__info {
    align-self: center;
    margin-top: 12px;
    color: #fff;
    text-align: center;
    font-family: Hind, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    /* 17.92px */ }

.form-reply {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px;
  border-radius: 16px;
  background: var(--Grey-Dark-2, #1b1f28); }
  .form-reply__header {
    display: flex;
    flex-direction: column;
    gap: 16px; }
  .form-reply__title {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase; }
    .form-reply__title em {
      color: #e3f666;
      font-style: normal; }
  .form-reply__subtitle {
    color: #9197af;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
  .form-reply__form {
    display: grid;
    gap: 16px 24px;
    grid-template-areas: "name comment" "email comment" "website comment" "checkbox ." "cta .";
    grid-template-columns: 400px 1fr; }
  .form-reply__input:nth-child(1) {
    grid-area: name; }
  .form-reply__input:nth-child(2) {
    grid-area: email; }
  .form-reply__input:nth-child(3) {
    grid-area: website; }
  .form-reply__input:nth-child(4) {
    grid-area: checkbox;
    margin-top: 16px;
    margin-bottom: 16px; }
  .form-reply__input:nth-child(5) {
    grid-area: comment; }
  .form-reply__cta {
    grid-area: cta; }
  .form-reply__button {
    width: 100%; }
  @media (max-width: 1024px) {
    .form-reply {
      padding: 24px 16px; }
      .form-reply__title {
        font-size: 28px; }
      .form-reply__form {
        display: grid;
        grid-template-areas: "name" "email" "website" "comment" "checkbox" "cta";
        grid-template-columns: 1fr; }
      .form-reply__input:nth-child(4) {
        margin-top: 8px;
        margin-bottom: 8px; }
      .form-reply__input:nth-child(5) {
        height: 280px; } }
